body {
  background-color: gainsboro;
  margin: 0;
}

@media screen and (min-width: 480px) {
  #cardContent {
    color: white;
  }
}

@media screen and (max-width: 479px) {
  #cardContent {
    color: black;
  }
}

#cardList {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  background-color: gray;
}
#card {
  display: flex;
  flex-wrap: wrap;
}
.parentItem {
  background-color: green;
  border: solid;
}
.flavorItem {
  width: 200px;
  height: 200px;
  background-color: khaki;
}
.monsterItem {
  width: 200px;
  height: 40px;
}

