.parent-modal-window {
  position: fixed;
  top: 0%;
  left: 15%;
  margin: auto;
  width: 70%;
  height: 400px;
  background-color: black;
}
.modal-window {
  width: 200px;
  height: 400px;
  margin: auto;
}